@{
    ViewData["Title"] = "Home Page";
}

<div class="hero text-center">
    <img src="~/logoeducation2.png" alt="EducationApp Logo" />
    <h1 class="display-4">Welcome to Salford & Co</h1>
    <p>Empowering Students through Knowledge</p>
</div>